article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  width: 1200px;
  margin: 0 auto 0 auto;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

header {
  width: 1160px;
  height: 100px;
  background-color: #A3E4D7;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

header img {
  width: 95px;
  height: 95px;
  display: block;
  float: left;
  margin-right: 2%;
}

header h1 {
  padding: 0px;
  margin: 7px;
}

header h2 {
  padding: 0px;
  margin: 7px;
  font-size: 20px;
}

nav {
  width: 1180px;
  height: 48px;
  background-color: #A3E4D7;
  margin: 10px 10px 0 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

article {
  width: 760px;
  height: min(330px, 100%);
  float: left;
  background-color: #A3E4D7;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

article header {
  width: 740px;
  height: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px;
  margin: 10px 0 0 0;
  background-color: #45B39D;
}

article section {
  width: 740px;
  height: 120px;
  background-color: #45B39D;
  padding: 10px;
  margin: 10px 0 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

article p {
  padding: 10px;
  margin: 10px 10px 0px;
  font-size: 10px;
}

article footer {
  width: 95%;
  height: 50px;
  background-color: #45B39D;
  padding: 10px;
  margin: 10px 0 0 10px;
  color: #000;
  text-align: left;
}

aside {
  width: 360px;
  height: 330px;
  float: left;
  background-color: #A3E4D7;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

footer {
  clear: both;
  width: 1160px;
  height: 50px;
  background-color: #A3E4D7;
  padding: 10px;
  margin: 10px;
  color: #250b0b;
  font-size: 13px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #F7DC6F;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li a {
  color: #000;
}

ul li:hover {
  background: #555;
  color: #fff;
}

.lista-elmenti {
  margin-left: 5%;
  margin-bottom: 4%;
}

.img-orizontale {
  width: 100%;
  margin-top: 4%;
}

.img-verticale {
  width: 40%;
  height: 50%;
  margin-top: 4%;
}